@import url("https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap");
:root {
  font-family: "Lexend Exa", sans-serif;
  font-size: 14px;
  --bg-color: #222327;
  --bar-color: linear-gradient(to left, rgba(0, 0, 0, 0.95) 90%, white);
  --text-color: #000;
  --span-color: #ff6347;
  --white-color: #fff;
  --radio-color: #f4a460;
  --radiobg-color: #40d3dc;
  --page-color: #c42632;
  --grey: #d2d6cd;
  --black: #111111;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  min-height: 100vh;
  color: var(--text-color);
}

header {
  height: auto;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  transition: all 0.5s ease;
}

/* Sayfa aşağıya doğru kaydırıldığında header elementine eklenir*/
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100; /* Header alanının ön planda kalmasını sağlar */
  transition: 0.5s;
}
/* Sayfa aşağıya doğru kaydırıldığında nav elementine eklenir*/
.sticky-nav {
  background: rgba(255, 255, 255, 0.9);
}
/* Sayfa aşağıya doğru kaydırıldığında main elementine eklenir*/
.sticky-main {
  padding-top: 118px;
}

.topbar {
  background: var(--bar-color);
  color: var(--white-color);
}
.topbar-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem;
  font-size: 10px;
  cursor: default;
}
.topbar-box > a {
  color: var(--white-color);
  font-size: 1rem;
  padding: 0.2rem 0 0 0.6rem;
}
.dropdown-topbar {
  position: relative;
  display: flex;
  gap: 5rem;
  justify-content: center;
  padding: 2rem 0 4rem 0;
}
.dropdown-topbar div {
  width: 20%;
  font-size: 0.9rem;
}
.dropdown-topbar div p {
  padding: 1rem 0 2rem 0;
  font-size: 0.8rem;
}
.dropdown-topbar div a {
  color: var(--white-color);
  text-decoration: underline;
}
.dropdown-topbar div a:hover {
  color: #c5afaf;
}
#closeTopbarBtn {
  background: none;
  border: none;
  color: var(--white-color);
  font-size: 3rem;
  position: absolute;
  top: 16%;
  right: 4%;
  cursor: pointer;
}

nav {
  width: 100%;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 1rem 8% 0 8%;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.5);
}
.logo-container {
  width: 25rem;
  display: flex;
}
.navList {
  width: 30rem;
  display: flex;
  justify-content: center;
  padding: 0 2rem;
}
.navList > ul {
  height: 2.5rem;
  display: flex;
  gap: 2rem;
}
.navList > ul li {
  display: flex;
  justify-content: center;
}
.navList > ul .navList-item {
  position: relative;
  color: var(--black);
  font-weight: 600;
}
.navList > ul .navList-item > span {
  color: var(--span-color);
}
.navList > ul .navList-item:hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background-color: var(--black);
}
#outlet:hover::before {
  background-color: red !important;
}

.open {
  display: flex !important;
}

.dropdown-container {
  position: absolute;
  top: 5.7rem;
  left: 0;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  background: var(--white-color);
  border-top: 1px solid #e0e0e0;
  z-index: 10;
  box-shadow: 0 0.2rem 0.5rem rgba(17, 17, 17, 0.5);
}
.dropdown > ul {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 10rem;
  padding: 3rem;
  font-family: "Jaldi", sans-serif;
  font-weight: 700;
}
.dropdown > ul li {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}
.dropdown > ul li a {
  color: var(--black);
  font-size: 1.2rem;
}
.dropdown > ul li a:hover {
  text-decoration: underline;
}
.headline {
  padding-bottom: 1rem;
}
.dropdown > ul li a:not(.headline) {
  font-size: 1.1rem;
  font-weight: 300;
}

.menu {
  width: 25rem;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}

.helpbar > ul {
  display: flex;
  font-size: 0.8rem;
  font-weight: 300;
}
.helpbar > ul li {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  line-height: 1.5rem;
}
.helpbar > ul li:last-child {
  border: none;
}
.helpbar > ul li a {
  color: var(--bg-color);
  padding: 0 2rem;
}
.helpbar > ul li a:hover {
  text-decoration: underline;
}

.user-bar {
  width: 30rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2.5rem;
  font-size: 1.4rem;
  padding: 0.5rem 2rem;
}
.user-bar a i {
  color: var(--bg-color);
}

.search-box {
  position: relative;
  display: flex;
  align-items: center;
  height: 2.2rem;
  border-radius: 3rem;
  padding: 0.2rem 0.5rem;
}

.search-box input[type="text"] {
  position: relative;
  width: 10rem;
  height: 1.7rem;
  padding: 0 2.5rem 0 1rem;
  color: var(--bg-color);
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  background: #f2f2f2;
  outline: none;
  box-shadow: 0.5px 0.5px 5px black;
}
.search-box input::placeholder {
  font-size: 1rem;
  font-family: "Lexend Exa";
  font-weight: 200;
}

a#searchIcon,
a#closeIcon {
  position: absolute;
  height: 2.2rem;
  right: 0rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  background: var(--bg-color);
  border-radius: 50%;
  padding: 0.3rem 0.7rem;
  font-size: 1.2rem;
  opacity: 1;
  /* box-shadow: 0.5px 0.5px 5px white; */
}
#searchIcon > i,
#closeIcon > i {
  color: white;
}

/* slider alanı */

.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.slides {
  white-space: nowrap; /* Resimlerin yatay olarak sıralanmasını sağlar */
  transition: transform 2s ease; /* Yumuşak bir yatay geçiş efekti sağlar */
  font-size: 0; /* Inline-block'un bıraktığı boşluğu kaldırır */
}
.slide {
  display: inline-block; /* Resimlerin yan yana gelmesini sağlar */
  width: 100%;
}

.slide img {
  object-fit: cover; /* Resimlerin kutunun içine tam olarak sığmasını sağlar */
  height: auto;
  width: 100%;
}

.slider-controls {
  display: flex;
  justify-content: center;
  gap: 5rem;
  position: absolute;
  bottom: 5%;
  left: 45%;
}

.slider-controls input[type="radio"] {
  display: none;
}

.slider-controls label {
  background: none;
  width: 1.5rem;
  height: 1.5rem;
  border: 3px solid var(--radiobg-color);
  border-radius: 50%;
  cursor: pointer;
  transition: 1s ease;
}

.slider-btn {
  background: none;
  border: none;
  color: var(--white-color);
  font-size: 4rem;
  position: absolute;
  top: 50%;
  cursor: pointer;
  transition: 0.5s ease;
}
.slider-btn:hover {
  color: var(--page-color);
}

#prev-btn {
  left: 3rem;
}

#next-btn {
  right: 3rem;
}

/* cards */

.categories {
  overflow-x: hidden;
}
.head-and-cards {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.head-and-cards h2 {
  padding: 2rem 0;
  width: 85%;
  font-size: 1.8rem;
}
.cards {
  width: 85%;
  display: flex;
  gap: 2rem;
}
.card {
  min-width: calc(33% - 1.2rem);
  cursor: pointer;
}
.img-container {
  overflow: hidden;
}
.card img {
  width: 100%;
  vertical-align: middle;
  transition: transform 0.3s ease;
}
.card p {
  display: flex;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 0.5rem 0;
  flex-direction: column;
}
.card img:hover {
  transform: scale(1.2);
}

/* sneaker collapse */
.sneaker-collapse {
  max-width: 100%;
  height: auto;
  padding: 3rem;
}
.sneaker-collapse-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sneaker-header {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1% 1%;
}
.sneaker-header h2 {
  padding: 1rem 0;
  font-size: 1.8rem;
}
.sneaker-slider-buttons {
  margin: 0 2% 0 auto;
}
.sneaker-slider-buttons > a {
  font-size: 1.5rem;
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  background: rgba(202, 202, 202, 0.6);
  border-radius: 50%;
  color: var(--bg-color);
}
.sneaker-slider-buttons > a:hover {
  background: rgba(202, 202, 202, 1);
}
.sneaker-cards {
  height: auto;
  max-width: 90%;
  display: flex;
  overflow-x: hidden;
}
.sneaker-card {
  position: relative;
  min-width: calc(33.3% + 0.51px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1%;
  transition: transform 0.3s ease;
  /* box-shadow: .5rem .5rem 20rem rgba(161, 104, 104, 0.8); */
}
.sneaker-card img {
  border: 1px solid black;
  width: 100%;
}
.sneaker-card p {
  position: absolute;
  bottom: 0;
  background: var(--white-color);
  padding: 0.5rem 1rem;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: black;
}

/* Footer Alanı */

footer {
  background: var(--black);
  display: flex;
  justify-content: center;
  font-family: "Jaldi", sans-serif;
  font-size: 1.12rem;
  font-weight: 700;
  color: white;
}

.footer-container {
  border: 2px solid green;
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer-main {
  border: 2px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-title a {
  color: white;
}
.footer-main > ul {
  display: flex;
  gap: 15rem;
  padding: 3rem;
}
.footer-main > ul > ul a {
  color: white;
  line-height: 2.2rem;
}
.footer-main > ul > li:not(:first-child) > ul {
  padding: 1rem 0;
}
.footer-main > ul > li > ul li a {
  color: #b5b5b5;
  line-height: 2rem;
}
.footer-cc {
  border: 2px solid blue;
  display: flex;
  gap: 25rem;
  color: #b5b5b5;
}
.footer-cc-left {
  justify-content: start;
}
.footer-cc-right {
  margin-left: auto;
}
.footer-cc-right ul {
  display: flex;
  gap: 5rem;
}
